.form {
    background-color: #3E4049;
    height: 1000px;
}


.container_form {

    height: 900px;

}

@media screen and (max-width: 1240px) {

    .section_card{
        height: 2000px;
    }

    

}