body {
    margin: 0;
    padding: 0;

    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;

    background-color: #3E4049;

}

header {
    height: 161px;
    width: 100%;

    background-color: #C9173A;
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: flex-end;

}

a {
    text-decoration: none !important;
    color: black !important;
}

.container_header {
    margin: 100px;
    display: flex;
    gap: 111px;
}

.inscription {
    border-radius: 10px;
    background-color: #3E4049;
    color: #F5F5F5;
    padding: 10px;

}

.connection {
    border-radius: 10px;
    background-color: #3E4049;
    color: #F5F5F5;
    padding: 10px;

}

.section_red {
    background-color: #C9173A;
    height: 631px;
    width: 100%;
}

img {
    height: 397px;
    width: 842px;
    margin-left: 534px;
    margin-right: 64px;
    margin-bottom: 218px;

    border-radius: 20px;
    position: absolute;
}

.container_texte {
    background-color: #3E4049;
    color: #F5F5F5;
    position: absolute;

    height: 368px;
    width: 1172px;
    margin-top: 101px;
    margin-left: 102px;
    margin-bottom: 146px;
    margin-right: 166px;
    border-radius: 20px;
}

.texte {
    height: 232px;
    width: 356px;

    margin-left: 61px;
    margin-right: 751px;
    margin-top: 51px;
    margin-bottom: 85px;

    font-size: 48px;
    font-weight: 600;

}

.section_card {
    background-color: #3E4049;
    height: 1050px;

}

.container_card {
    height: 368px;
    width: 1214;

    display: flex;
    justify-content: center;
    align-items: center;


    display: flex;
    flex-wrap: wrap;
    gap: 56px;
}

.card_size {
    margin-top: 107px;
    height: 368px;
    width: 361px;

}

.container_image_1 {
    background-image: url(../img/asset_image_arme_1.png);
    background-size: cover;
    height: 304px;
    width: 361px;

    border-radius: 20px 20px 0px 0px;
}

.container_image_2{
    background-image: url(../img/asset_image_arme_2.png);
    background-size: cover;
    height: 304px;
    width: 361px;

    border-radius: 20px 20px 0px 0px;
}

.container_image_3{
    background-image: url(../img/asset_image_arme_3.png);
    background-size: cover;
    height: 304px;
    width: 361px;

    border-radius: 20px 20px 0px 0px;
}

.container_image_4{
    background-image: url(../img/asset_image_arme_4.png);
    background-size: cover;
    height: 304px;
    width: 361px;

    border-radius: 20px 20px 0px 0px;
}

.container_image_5{
    background-image: url(../img/asset_image_arme_5.png);
    background-size: cover;
    height: 304px;
    width: 361px;

    border-radius: 20px 20px 0px 0px;
}

button {
    box-shadow: none;
    border: 0;
    background: transparent;

    font-size: 24px;
    font-weight: 600;

    font-style: italic;
    text-transform: uppercase;
}

.button_reservation {
    height: 64px;
    width: 361px;
    background-color: #F7BB2B;
    border-radius: 0px 0px 20px 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 600;
}


@media screen and (max-width: 1400px) {
    img {
        height: 300px;
        width: 700px;

    }

    .container_texte {
        height: 300px;
        width: 1000px;

    }

}

@media screen and (max-width: 1250px) {
    img {
        height: 260px;
        width: 600px;

    }

    .container_texte {
        height: 260px;
        width: 800px;

    }

    .texte {
        height: 232px;
        width: 356px;

        margin-left: 61px;
        margin-right: 751px;
        margin-top: 51px;
        margin-bottom: 85px;

        font-size: 40px;
        font-weight: 600;

    }

}

@media screen and (max-width: 1132px) {
    img {
        height: 240px;
        width: 500px;

    }

}

@media screen and (max-width: 1040px) {
    img {
        display: none;

    }

    .container_texte {
        height: 260px;
        width: 750px;

    }

}

@media screen and (max-width: 1000px) {
    .container_texte {
        height: 260px;
        width: 700px;

    }

}

@media screen and (max-width: 802px) {
    .container_texte {
        height: 260px;
        width: 560px;

    }

}

@media screen and (max-width: 663px) {
    .container_texte {
        height: 260px;
        width: 450px;

    }

}

@media screen and (max-width: 663px) {
    .container_texte {
        height: 260px;
        width: 400px;

    }

}

@media screen and (max-width: 514px) {
    .container_texte {
        height: 260px;
        width: 350px;

    }

}

@media screen and (max-width: 465px) {
    .container_texte {
        height: 260px;
        width: 400px;

    }

    .section_red {
        background-color: #C9173A;
        height: 631px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_texte {
        height: 260px;
        width: 400px;
        margin-left: 0px;
        margin-right: 0px;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .texte {
        height: 232px;
        width: 356px;

        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
        margin-bottom: 0px;

    }

}

@media screen and (max-width: 316px) {

    .section_red {
        background-color: #C9173A;
        height: 631px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }


    .container_texte {
        height: 260px;
        width: 200px;
        margin-left: 0px;
        margin-right: 0px;

        display: flex;
        justify-content: center;
        align-items: center;


    }

    .texte {
        height: 232px;
        width: 356px;

        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
        margin-bottom: 0px;

        font-size: 25px;
        font-weight: 600;

    }

    .container_card {
        display: flex;
        flex-wrap: wrap;
        gap: 56px;
    }

    .card_size {
        width: 300px;

    }

    .container_image {
        background-image: url(../img/asset_image_arme_1.png);
        background-size: cover;
        height: 250px;
        width: 300px;

    }

    button {
        box-shadow: none;
        border: 0;
        background: transparent;

        font-size: 24px;
        font-weight: 600;

        font-style: italic;
        text-transform: uppercase;
    }

    .button_reservation {
        height: 64px;
        width: 300px;
        background-color: #F7BB2B;
        border-radius: 0px 0px 20px 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 24px;
        font-weight: 600;
    }

}